$defaultFont : Verdana, Arial, Tahoma, Serif;

$buttonBorder: 2px solid grey;
$buttonBackgroundColor: grey;
$buttonBorderActive: 2px solid lightgrey;
$buttonBackgroundColorActive: lightgrey;
$buttonRadius: 50px;
$buttonPadding: 10px 15px;